h1{
  color: red;
}

.fondo{
  background-color: #000000;
}

.titulo{
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  font-size: 2.5rem;
}

.perfiles{
  color: #a3a3a3;
  border-style: solid;
  border-width: 0.12rem;
  border-color: #a3a3a3;
  text-align: center;
}

.perfiles:hover{
  color: #fff;
  border-color: #fff;
  cursor: pointer;
}
