<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <br>
    <br>
    <h1 class="text-center">
      Hola
      <span *ngIf="!mostrarTitulo">{{titulo}}</span>
    </h1>
    <p>Soy el usuario {{usuario.nombre + ' ' + usuario.apellido}} {{1+10}}</p>

    <ul>
      <li *ngFor="let numero of arregloNumeros; let i = index">{{i+1}}.- valor del numero {{numero}}</li>
    </ul>

  </div>
  <div class="col-sm-4"></div>
</div>

